.row{
	width: 100%;
	height: relative;
	overflow:auto;
}

.row-column-bg{
	width: 250px;
	padding: 10px;
	border: 2px solid red;
    border-radius: 5px;
	height: 565px;
    position: absolute;
}

.row-column-sm{
	width: 300px;
	padding: 10px;
	height: 565px;
	float: right;
	border: 2px solid red;
    border-radius: 8px;
}

.row-middle{
	width: 640px;
	padding: 10px;
	margin-left: 290px;
	border: 2px solid red;
    border-radius: 5px;
    position: absolute; 
	height: 565px;
}

.row-clm-ssm{
	width: 50%;
	padding: 5px;
	height: 130px;
}

.widget{
	width: 200px;
	box-shadow: none;
	border: 2px, solid;
	border-radius: 8px;
	height: 100px;
	position: relative;	
}

.widget-text{
	font-family: "Pacifico", cursive;
	font-size: 2.5em;
	color: rgb(222, 219, 219);
}


#table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
    height: 20px;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}


* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=url] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=file] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
